.item-images__section {
  width: 50%;
  background: #f5f7fa;
}

.item-key-details__section {
  width: 50%;
}

.item-other-details__section {
  background-color: #f5f7fa;
}

.item-info {
    background: #f5f7fa;
    padding: 20px 0 0 45px
}